= "Update your budget"

= form_tag({:controller => "budget_history", :action => "update"},:method => "post") do
    = text_field_tag "budget", "", {placeholder: "amount (e.g. 100)"}
    %br
    %button.btn.btn-primary{:type => "submit"} Update