.h1
    = "Budgety"
= form_tag({:controller => "user", :action => "login"},:method => "post") do
    = text_field_tag "name", "", {placeholder: "name"}
    %br
    = text_field_tag "password", "", {placeholder: "password"}
    %br
    %button.btn.btn-primary{:type => "submit"} Login